@media (max-width: 1200px){

}
@media (max-width: 1024px){

}
@media (max-width: 980px){

}
@media (max-width: 800px){

}
@media (max-width: 768px){

}
@media (max-width: 480px){

}
@media (max-width: 360px){

}
@media (max-width: 320px){

}

.navside {
    z-index: 999999;
}